<%- include('partials/header') %>
<%- include('partials/navbar', {user:user}) %>

<div class="container">
    <h1 class="my-3">Halaman Utama</h1>
    <div class="row">

        <div class="col">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi veniam atque beatae in! Sapiente quas dolorem distinctio, vitae modi, suscipit, error amet nam ducimus unde aliquid sunt numquam neque ipsam.</p>
        </div>

    </div>
</div>

<%- include('partials/footers') %>