<%- include('partials/header') %>
<%- include('partials/navbar', {user:user}) %>

<div class="container">
        <h1 class="my-5">Login Menggunakan...</h1>
        <a href="/auth/google" class="btn" style="background: salmon; color: white;">Google +</a>
</div>

<%- include('partials/footers') %>