<%- include('partials/header') %>
<%- include('partials/navbar', {user:user}) %>

<div class="container">
    <h1 class="my-3">Selamat Datang, <%= user.username %></h1>
</div>

<%- include('partials/footers') %>